/*Begin of reset code*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of reset code*/

/*Start of websitee code*/

/*Start of code used on multiple pages*/
#maindiv {
	width: 1280px;
	height: 7000px;
	background-color: white;
	margin: 0 auto;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

h1	{
	font-size: 60px;
	text-align: center;
	padding: 24px;
}

h2	{
	font-size: 60px;
	padding: 24px;
	text-align: center;
}

h3	{
	font-size: 60px;
	padding: 24px;
}

button	{
	width: 1268px;
	height: 500px;
	display: inline;
	font-size: 30px;
}

.buttondiv	{
	padding: 12px;
}

p	{
	padding: 24px;
}

/*Start of nav code*/

#navdiv	{
	width: 1280px;
	height: 100px;
	background-color: #2994ed;
	padding-top: 50px;
	align-content: center;

}

nav li {
	background-color: #2994ed;
	border: 1px solid white;	
	padding:30px;
	display: inline-block;
	text-align: center;

}

nav a {
	color: white!important;
	font-size: 30px;
	display: inline-block;
}

a:hover {
	color: blue!important;
}

#current a {
	color: #00f!important;
	text-decoration: underline!important;
}
/*End of nav code*/


/*Start of header code*/

#headerdiv
{
	width: 1280px;
	height: 500px;
	background-color: white;
	font-size: 30px;
	padding-top: 3%;
	align-content: center;
}

#headerdiv a	{
	width: 1280px;
	color: white;
	background-color: #2994ed;
	padding-top: 33px;
	padding-bottom: 24px;
	text-decoration: none;
	border: 1px solid white;
	pointer-events: none;
	cursor: default;
	display: inline-block;
	text-align: center;
}


#headerimg 
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1280px;
	height: auto;
}
/*End of header code*/

/*Start of footer code*/
footer{
	width: 1280px;
	background-color: #2994ed;
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	bottom:0;
	left:0;
	font-size: 30px;
}

footer p{
	padding: 6px;
}

#current	{
	background-color: white;
}
/*End of footer code*/

/*End of code used on multiple pages*/




/*Start of code for home*/


/*End of code for home*/

/*Start of code for Payments*/

/*End of code for Payments*/

/*Start of code for Maintanence*/
/*End of code for Maintanence*/

/*Start of code for Contact Us*/
/*Start of form code*/
#formdiv{
	padding-top: 12px;
}

form {
	font-size: 30px;
	width: 700px;
	height: 1600px;
	color: white;
	background-color: #2994ed;
	border: 3px solid blue;
	margin: 0 auto;
	border-radius: 10px;
	padding:24px;
}

label {
	color: white;
}

input {
	display: block;
	width: 680px;
	height: 60px;
	margin-bottom: 24px;
	border-radius: 5px;
	border: 1px inset grey;
	font-size: 30px;
	margin-top: 24px;
}

select {
	display: block;
	margin-bottom: 24px;
	margin-top: 24px;
}

fieldset {
	width: 1280px;
	border-radius: 10px;
}

#myZip {
	width: 680px;
}

form legend {
	color: #fff;
}

#myState {
	font-size: 30px;
	width: 680px;
	height: 65px;

}

#prefEmail,
#prefPhone {
	display: inline;
	width: 70px;
	height: 30px;
}

#label-block {
	display: block;
	margin-top: 12px;
}

textarea {
	border-radius: 5px;
}

#myReset,
#mySubmit {
	width: 340px;
	height: 150px;
	display: inline;
	font-size: 30px;
}

#myButtons {
	margin: 0 auto;
	width: 1280px;
	font-size: 30px;
}

#myComments {
	font-size: 30px;
	width: 680px;
}
